<ifModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^inicio index.php [L]
RewriteRule ^requisitos requirements.php [L]
RewriteRule ^preços pricing.php [L]
RewriteRule ^contato contact-us.php [L]
RewriteRule ^home index.php [L]
RewriteRule ^requirements requirements.php [L]
RewriteRule ^pricing pricing.php [L]
RewriteRule ^contact contact-us.php [L]
RewriteRule ^precios pricing.php [L]
RewriteRule ^contacto pricing.php [L]

</ifModule>

# STRONG HTACCESS PROTECTION
<Files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</Files>
