<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CV - Contato</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/fonts/material-icons.min.css">
    <link rel="stylesheet" href="static/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="static/css/Pretty-Table-1.css">
    <link rel="stylesheet" href="static/css/Pretty-Table.css">
    <link rel="stylesheet" href="static/css/vanilla-zoom.min.css">

    <meta property="og:type" content="website" />
    <meta property="og:title" content="CropView tecnologia de detecção e análise de plantas" />
    <meta property="og:description"
        content="Serviço que realiza a contagem automática de plantas, através de uma inteligência artificial treinada para detectá-las em imagens aéreas."/>
    <meta property="og:image" content="static/img/scenery/cropview-contagem-de-plantas.webp" />
    <meta property="og:image:width" content="256" />
    <meta property="og:image:height" content="256" />
    
	

    <script>
        function setLanguage(numero)
        {
            document.getElementById('language').value = numero;
            document.getElementById('languageForm').submit();
        }
    </script>
</head>

<body style="display: flex;flex-direction: column;min-height: 100%;background: rgb(246, 246, 246);">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top clean-navbar" style="background: linear-gradient(90deg, #2E8B57 0%, #284747 100%), #ffffff;padding-top: 0px;padding-bottom: 0px;">
        <div class="container"><a href="inicio" style="padding-top: 1%;"><img src="static/img/cv3.webp" style="height: 70px;"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1" style="background: rgb(234,234,234);padding-top: 4px;padding-bottom: 4px;height: 40px;border-radius: 25px;"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon" style="margin-bottom: 0px;padding-bottom: 0px;"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto align-items-xl-center">
                    <li class="nav-item"><a class="nav-link active h-100" href="inicio" style="color: rgba(255,255,255,0.7);font-weight: bold;">Início</a></li>
                    <li class="nav-item"><a class="nav-link h-100" href="requisitos" style="color: rgba(255,255,255,0.7);">Requisitos</a></li>
                    <li class="nav-item"><a class="nav-link h-100" href="preços" style="color: rgba(255,255,255,0.7);">Preços</a></li>
                    <li class="nav-item"><a class="nav-link active h-100" href="contato" style="color: rgba(255,255,255,0.9);">contato</a></li>
                    <li class="nav-item">
                        <form method="post" id="languageForm" name="languageForm" action="{{ url_for('set_language') }}">
                            <div class="nav-item dropdown"><a aria-expanded="false" data-bs-toggle="dropdown" class="nav-link active" href="#" style="color: rgba(255,255,255,0.7);"><span style="padding: 5px;padding-left: 0px;">Language:&nbsp;</span><img src="static/img/brasil.webp" style="width: 32px;"></a>
                                <div class="dropdown-menu" style="margin-bottom: 20px;">
                                    <input class="form-control" type="hidden" id="language" name="language">
                                    <div class="dropdown-item" onclick="setLanguage('pt');"><span>Português Brasil</span><img src="static/img/brasil.webp" style="width: 32px;margin-left: 8px;"></div>
                                    <div class="dropdown-item" onclick="setLanguage('en');"><span style="margin-right: 73px;">English</span><img src="static/img/estados-unidos.webp" style="width: 32px;margin-left: 8px;"></div>
                                    <div class="dropdown-item" onclick="setLanguage('es');"><span style="margin-right: 73px;">Español</span><img src="static/img/espanha.webp" style="width: 32px;margin-left: 4px;"></div>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark" style="padding-bottom: 0px;">
            <div class="container">
                <div class="block-heading" style="padding-top: 45px;">
                    <h2 class="text-info">Entre contato conosco</h2>
                    <p style="max-width: 700px;">Entre contato para solicitar um pedido de análise para suas imagens ou para tirar qualquer dúvida relacionada ao nosso serviço.</p>
                </div>
            </div>
                <img src="static/img/cv2.webp" 
     alt="cv2"
     style="display:block; margin:auto; width:200px; height:200px; object-fit:contain;">
            <section class="clean-block clean-info dark" style="background: transparent;padding-top: 10px;padding-bottom: 10px;">
                <div class="container">
                    <div class="block-heading" style="padding-top: 15px;margin-bottom: 0px;font-size: 19px;padding-bottom: 15px;">
                        <p style="max-width: 700px;color: rgb(33, 37, 41);padding-bottom: 15px;">Email ou WhatsApp.</p><a href="mailto:enzo@cropview.com.br" style="padding-right: 1%;"><i class="fa fa-send" style="padding-left: 1%;padding-right: 1%;"></i>enzo@cropview.com.br</a><a href="https://api.whatsapp.com/send?phone=5542998650083" target="_parent" style="padding-right: 1%;"><i class="fa fa-whatsapp" style="padding-left: 1%;padding-right: 1%;"></i>(42)998650083<br></a>
                    </div>
                </div>
            </section>
        </section>
    </main>
    <footer class="page-footer dark" style="margin-top: auto;padding: 0;">
        <div class="footer-copyright" style="margin-top: auto;">
            <p>© 2022 CropView</p>
        </div>
    </footer>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="static/js/vanilla-zoom.js"></script>
    <script src="static/js/theme.js"></script>
</body>

</html>